@import 'variables';

@mixin breakpoint($size) {
    @if $size == mobile {
        @media only screen and (min-width: map-get($breakpoint, 'mobile')) {
            @content;
        }
    } @else if $size == tablet {
        @media only screen and (min-width: map-get($breakpoint, 'tablet')) {
            @content;
        }
    } @else if $size == desktop {
        @media only screen and (min-width: map-get($breakpoint, 'desktop')) {
            @content;
        }
    } @else if $size == deskxxl {
        @media only screen and (min-width: map-get($breakpoint, 'deskxxl')) {
            @content;
        }
    }
}

@mixin btnBlue {
    margin: 10%;
    text-align: center;
    width: 200px;
    font-size: 22px;
    font-weight: 800;
    font-family: $fontPrimary;
    color: #fff;
    cursor: pointer;
    margin: 20px;
    height: 55px;
    text-align:center;
    border: none;
    background-size: 300% 100%;
    background-image: linear-gradient(to right, #25aae1, #40e495, #30dd8a, #2bb673);
    box-shadow: 0 4px 15px 0 rgba(49, 196, 190, 0.75);
    border-radius: 50px;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

@mixin btnBlueHover {
    background-position: 100% 0;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

