$breakpoint: (
    'tablet': 768px,
    'desktop': 1024px,
    'deskxxl': 1440px,
);

//======================================//
//================color=================//
//======================================//

$bgDark: #34495e;
$bgDarken: #2c3e50;
$primaryColor: #3498db;
$secondaryColor: #2980b9;

//======================================//
//================fonts=================//
//======================================//

$fontPrimary: 'Nova Square', cursive;
$fontSecondary: 'Karla', sans-serif;
