@import './components/fonts';
@import './components/reset';
@import './components/mixins';

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");

@import './parts/header';
@import './parts/index';
@import './parts/footer';
@import './parts/theme';

*, *::after, *::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.darkmode {
    --clr-light: #fdffc4;
    --clr-dark: #00332a;
    --clr-primary: #202302;
    --clr-secondary: #00100d;
    --clr-accent: #ff7750;
  
    --foreground: var(--clr-light);
    --background: var(--clr-dark);
}
  
  
body {
    background: var(--background);
    color: var(--foreground);
    font-family: var(--ff-body);
    font-size: 18px;
    line-height: 1.6;
}
  
.dark-mode-toggle {
    position: absolute;
    z-index: 100;
    top: 1em;
    right: 1em;
    color: var(--foreground);
    border: 2px solid currentColor;
    padding: 4px;
    background: transparent;
    cursor: pointer;
    border-radius: 5px;
    width: 30px;
    height: 30px;
}
  
.click-here {
    width: 100px;
    right: 1.5em;
    position: absolute;
    top: 3em;
}
