@import '../../components/mixins';
@import '../../components/variables';

.questionlist {
    max-width: 100%;
    height: 82vh;
    margin-top: 80px;

    @include breakpoint(desktop){
        padding: 20px;
    }

    .question-page {
        width: 100%;
        margin-top: 15px;
        font-family: $fontPrimary;
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: 0px 28px;

        .container {
            position: absolute;
            top: 0;
            width: 100%;
            background-color: $bgDarken;
            height: 5px;

            .skills {
                position: static;
                top: 0;
                background-color: $primaryColor;
                height: 5px;
            }
        }
    
        &__number {
            display: flex;
            flex-direction: row;
            width: 60px;
    
            & h3 {
                font-size: 20px;
                margin-right: 15px;
                margin-top: 3px;
                list-style: none;

                @include breakpoint(tablet){
                    margin-right: 15px;
                    padding-left: 5px;
                    margin-top: 0px;
                }

                @include breakpoint(desktop){
                    font-size: 28px;
                    margin-right: 15px;
                }
            }
        }
    
        &__question {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: space-between;
            width: 100%;
            height: 305px;

            @include breakpoint(tablet){
                width: 885px;
            }

            @include breakpoint(desktop){
                width: 1085px;
                margin-left: 10px;
            }
    
            &--text {
                font-size: 18px;
                line-height: 20px;
                margin-bottom: 30px;

                @include breakpoint(tablet){
                    font-size: 24px;
                }

                @include breakpoint(desktop){
                    font-size: 54px;
                    line-height: 60px;
                }
            }
    
            &--multiple {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: flex-start;
                gap: 15px;
                margin-bottom: 30px;

                @include breakpoint(desktop) {
                    flex-direction: row;
                    margin: 80px 0;
                }

                & input[type="radio"] {
                    display: none;
                }

                & label{
                    position: relative;
                    font-family: $fontSecondary;
                    font-size: 16px;
                    font-weight: bold;
                    border: 2px solid $primaryColor;
                    background-color: $primaryColor;
                    border-radius: 50px;
                    width: 350px;
                    height: 50px;
                    display: flex;
                    align-items: center;
                    cursor: pointer;

                    &:hover {
                        cursor: pointer;
                        box-shadow: 0 0.4rem 1.4rem 0 $primaryColor;
                        transform: scale(1.02);
                        transform: transform 100ms;
                    }

                    @include breakpoint(tablet){
                        font-size: 20px;
                        border: 3px solid $primaryColor;
                        border-radius: 50px;
                        height: 60px;
                        width: 500px;
                    }

                    @include breakpoint(desktop){
                        font-size: 20px;
                        border: 3px solid $primaryColor;
                        border-radius: 50px;
                        height: 60px;
                        width: 330px;
                        text-align: center;
                    }

                    &::before{
                        content: "";
                        height: 20px;
                        width: 20px;
                        border: 3px solid $primaryColor;
                        border-radius: 50%;
                        margin-right: 10px;

                        @include breakpoint(tablet){
                            height: 25px;
                            width: 25px;
                            border: 3px solid $primaryColor;
                            border-radius: 50%;
                            margin-right: 15px;
                        }
                    }

                    & i {
                        display: none;
                    }
                }         
                

                & input[type="radio"]:checked + label{
                    cursor: pointer;
                    box-shadow: 0 0.4rem 1.4rem 0 $bgDarken;
                    background-color: $secondaryColor;
                    transform: scale(1.09);
                    transform: transform 100ms;
                }

                
            }
    
            &--button {
                display: flex;
                flex-direction: row;
                justify-content: flex-end;
                align-items: center;
                width: 100%;
                margin-bottom: 75px;
                gap: 5px;
                

                @include breakpoint(desktop){
                    margin-bottom: 90px;
                    gap: 10px;
                }
    
                & .btn-prev {
                    @include btnBlue;

                    @include breakpoint(desktop){
                        margin-bottom: 80px;
                        font-size: 20px;
                        padding: 10px 20px;
                    }

                    &:hover {
                        @include btnBlueHover;
                    }
                }
    
                & .btn-next {
                    @include btnBlue;

                    @include breakpoint(desktop){
                        margin-bottom: 80px;
                        font-size: 20px;
                        padding: 10px 20px;
                    }

                    &:hover {
                        @include btnBlueHover;
                    }
            
                    &:focus {
                        outline: none;
                    }
                }
    
                & .btn-finish {
                    @include btnBlue;

                    @include breakpoint(desktop){
                        margin-bottom: 80px;
                        font-size: 20px;
                        padding: 10px 20px;
                    }
    
                    &:hover {
                        @include btnBlueHover;
                    }
                }
            }
        }

        .modal {
            display: none;
            position: fixed; 
            z-index: 1; 
            padding-top: 100px;
            left: 0;
            top: 0;
            width: 100%; 
            height: 100%;
            overflow: auto;
            background-color: rgb(116, 108, 108);
            background-color: rgba(106, 100, 100, 0.4);
        
            &__content {
                background-color: whitesmoke;
                margin: auto;
                padding: 30px;
                border: 3px solid gray;
                border-radius: 50%;
                width: 50%;

                @include breakpoint(tablet){
                    width: 60%;
                }

                @include breakpoint(desktop){
                    width: 60%;
                    padding: 40px;
                }

                @include breakpoint(deskxxl){
                    width: 40%;
                    padding: 30px;
                }
                
                &--title {
                    font-size: 20px;
                    color: maroon;
                    margin-bottom: 20px;
                    font-family: $fontSecondary;
                    text-align: center;

                    @include breakpoint(desktop){
                        font-size: 26px;
                    }
                }
        
                &--attention {
                    font-size: 16px;
                    color: $bgDarken;
                    text-align: center;
                    line-height: 20px;

                    @include breakpoint(desktop){
                        font-size: 20px;
                        line-height: 25px;
                    }
                }
        
                &--close {
                    display: none;

                    &:hover {
                        background-color: red;
                        scale: 1.04;
                    }
                }
            }
        }
    }
}


  
 