@import '../../components/mixins';

.result-page {
    font-family: $fontPrimary;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 0px 28px;
    height: 82vh;

    @include breakpoint(desktop){
        padding: 0px 50px;
    }

    &__person {
        width: 100%;
        font-size: 24px;
        margin-top: 70px; 
        margin-bottom: 30px;
        font-family: $fontPrimary;
        color: chartreuse;
        text-align: center;

        & i:first-child{
            display: inline-block;
        }

        & i:last-child{
            display: none;
        }

        @include breakpoint(desktop){
            font-size: 59px;
            margin-top: 90px; 
            margin-bottom: 50px;

            & i:first-child{
                display: none;
            }
    
            & i:last-child{
                display: inline-block;
            }
        }
    }

    &__title {
        font-size: 40px;
        margin-bottom: 20px;
        text-align: center;
        
        @include breakpoint(desktop){
            font-size: 26px;
        }
    }

    &__result {
        font-size: 28px;
        margin-bottom: 40px;

        @include breakpoint(desktop){
            font-size: 32px;
            margin-bottom: 50px;
        }
    }

    &__scorenumber {
        margin-bottom: 20px;

        & h4 {
            font-size: 34px;
            font-family: $fontSecondary;

            @include breakpoint(desktop){
                font-size: 40px;
            }
        }
    }

    &__scoretext {
        margin-bottom: 40px;

        @include breakpoint(desktop){
            margin-bottom: 50px
            ;
        }

        & p {
            font-size: 30px;

            @include breakpoint(desktop){
                font-size: 24px;
            }
        }
    }

    &__again {
        color: #121214;
        width: 120px;
        font-size: 36px;
        padding: 8px 18px;
        background-color: greenyellow;
        font-weight: 500;
        text-transform: capitalize;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        margin-bottom: 70px;

        @include breakpoint(desktop){
            width: 150px;
            padding: 13px 25px;
            font-size: 20px;
            margin-bottom: 90px;
        }

        &:hover {
            background-color: $primaryColor;
            color: #323238;
        }
    }

    & .first {
        color: red;
    }


    & .third {
        color: rgb(78, 188, 31);
    }
}