@import '../../components/mixins';
@import '../../components/variables';

.home-page {
    font-family: $fontPrimary;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 28px;
    height: 82vh;

    @include breakpoint(tablet){
        padding: 0px 50px;
    }

    &__title {
        font-size: 38px;
        line-height: 50px;
        font-weight: 600;
        margin: 70px 0 20px 0;
        margin-bottom: 20px;
        text-align: center;
        width: 315px;
        display: flex;
        flex-direction: column;

        & span {
            color: $primaryColor;
            font-size: 59px;
        }

        @include breakpoint(tablet){
            margin-top: 30px;
            font-size: 69px;
            width: 100%;
            line-height: 96px;

            & span {
                font-size: 89px;
            }
        }

        @include breakpoint(desktop){
            margin-top: 65px;
            font-size: 99px;
            width: 100%;
            line-height: 106px;

            & span {
                font-size: 109px;
            }
        }
    }

    &__text {
        font-size: 20px;
        line-height: 30px;
        margin-bottom: 40px;
        text-align: center;
        width: 295px;
        font-family: $fontSecondary;

        @include breakpoint(tablet){
            font-size: 28px;
            width: 100%;
        }

        @include breakpoint(desktop){
            font-size: 35px;
            width: 100%;
        }
    }

    &__form {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 40px;

        @include breakpoint(desktop){
        }
        
        &--label {
            font-size: 16px;
            margin-bottom: 5px;

            @include breakpoint(tablet){
                font-size: 20px;
                margin-bottom: 10px;
            }
        }   
        
        &--input {
            -webkit-transition: all 0.30s ease-in-out;
            -moz-transition: all 0.30s ease-in-out;
            -ms-transition: all 0.30s ease-in-out;
            -o-transition: all 0.30s ease-in-out;
            outline: none;
            padding: 13px 18px;
            margin: 5px 1px 3px 0px;
            border: 1px solid #DDDDDD;
            border-radius: 6px;
            text-align: center;

            @include breakpoint(tablet){
                padding: 13px 18px;
                width: 500px;
                height: auto;
                font-size: 25px;
            }
    
            &:focus {
                box-shadow: 0 0 5px rgba(81, 203, 238, 1);
                padding: 13px 18px;
                margin: 5px 1px 3px 0px;
                border: 1px solid rgba(81, 203, 238, 1);
                border-radius: 6px;
                text-align: center;
            }
        }
    }

    &__start {
        @include btnBlue;
        margin-top: -12px;

        @include breakpoint(desktop){
            margin-top: -20px;
            margin-bottom: 80px;
            font-size: 28px;
            font-weight: 700;
            padding: 10px 20px;
        }

        &:hover {
            @include btnBlueHover;
        }

        &:focus {
            outline: none;
        }
    }

    &__error {
        font-family: $fontSecondary;
        position: relative;
        bottom: 20px;
        font-size: 14px;
        color: #f44336;
        text-align: center;
        margin-bottom: 20px;

        @include breakpoint(desktop){
            font-size: 26px;
        }
    }
}