@import '../components/mixins';
@import '../components/variables';


.navheader {
    display: flex;
    justify-content: space-between;
    padding: 12px 18px;
    align-items: center;
    transition: 0.5s;

    @include breakpoint(desktop){
        padding: 15px 25px;
    }

    &__logo {
        display: flex;
        flex-direction: row;
        align-items: center;


        &--images {
            width: 40px;
            height: auto;
            border-radius: 5px;
            margin-right: 10px;

            @include breakpoint(tablet){
                margin-right: 15px;
                width: 60px;
                height: auto;
            }

            @include breakpoint(desktop){
                width: 70px;
                height: auto;
            }
        }
    

        &--title {
            font-family: $fontPrimary;
            font-size: 20px;
            font-weight: 500;
            width: 110px;

            @include breakpoint(desktop){
                font-size: 20px;
                font-weight: 500;
                width: 150px;
                margin-bottom: -10px;
            }
    
            & span {
                font-family: 'Nova Square', cursive;
                color: $primaryColor;

                @include breakpoint(desktop){
                    font-size: 30px;
                }
            }
        }
    }
}

