<!-- Ini adalah HTML untuk halaman index.html -->
<!-- Sisipkan HTML bagian header di sini, dan juga file CSS yang dibutuhkan -->
@@include('../shared/header.html', {
  "style": [
    "assets/css/main.css"
  ]
})
<!-- bagian header selesai -->

<!-- Tulis semua coding kalian mulai dari sini -->
<main>
  <section id="home" class="home-page">
    <h2 class="home-page__title">
      Javascript <span>QUIZ</span>
    </h2>
    <p class="home-page__text">
      choose the answer that you think is correct!
    </p>
    <div class="home-page__form">
      <label class="home-page__form--label">Username:</label>
      <input class="home-page__form--input user-name" type="text" placeholder="fill your username...">
    </div>
    <p class="home-page__error error-name"></p>
    <button id="start" class="home-page__start btn-start">PLAY</button>
  </section>

  <section id="question" class="questionlist" style="display: none;">
  </section>
  
  <section id="result" class="result-page" style="display: none;">
  </section>
</main>
<!-- Penulisan coding selesai di sini -->


<!-- Sisipkan HTML bagian footer di sini, dan juga file JS yang dibutuhkan -->
@@include('../shared/footer.html', {
  "script": [
    "assets/js/app.min.js"
  ]
})
<!-- bagian footer selesai -->