
<!-- Ini adalah "penggalan" HTML untuk bagian footer. Semua halaman akan menggunakan footer yang sama. -->

  <footer>
    <nav class="navfooter">
      <p class="navfooter__copyright">&copy; 2022 Javascript Quiz</p>
    </nav>
    <!-- SOCIAL PANEL HTML -->
    <div class="social-panel-container">
      <div class="social-panel">
          <p>Created with <i class="fa fa-heart"></i> by
              <a target="_blank" href="https://deprasmahaputra.com">Depras</a></p>
          <button class="close-btn"><i class="fas fa-times"></i></button>
          <h4>Get in touch on</h4>
          <ul>
              <li>
                  <a href="https://www.patreon.com/deprasmahaputra" target="_blank">
                      <i class="fab fa-discord"></i>
                  </a>
              </li>
              <li>
                  <a href="https://twitter.com/devpras_" target="_blank">
                      <i class="fab fa-twitter"></i>
                  </a>
              </li>
              <li>
                  <a href="https://linkedin.com/in/deprasmahaputra" target="_blank">
                      <i class="fab fa-linkedin"></i>
                  </a>
              </li>
              <li>
                  <a href="https://facebook.com/deprasmahaputra" target="_blank">
                      <i class="fab fa-facebook"></i>
                  </a>
              </li>
              <li>
                  <a href="https://instagram.com/deprasmahaputra" target="_blank">
                      <i class="fab fa-instagram"></i>
                  </a>
              </li>
          </ul>
      </div>
  </div>
  <button class="floating-btn">
      Contact
  </button>
  </footer>

@@if(context.script) {
  @@for(var i=0; i < script.length; i++) {
  <script src="`+script[i]+`" ></script>
  }
}
  </body>
</html>

<!-- Penggalan HTML footer berhenti di sini -->